
*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.head{
    height: 100px;
    border-bottom: 1px solid #e3e3e3;
    background: linear-gradient(to right,#ff6600 ,#ff3300);
}

.header .button{
    width: auto;
    float: right;
    display: inline-block;
    text-align: right;
    color: #d9d9d9;
    font-size: 14px;
    line-height: 30px;
    padding: 40px 33px;
}
.header .button .reg{
    display: inline-block;
    text-decoration: none;
    width: 100px;
    height: 30px;
    color: #fff;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    transition: all .2s;
}


.header .button :hover{
    background: #ff4f3f;
    color: #fff;
}



.header .title{
    float: left;
    padding: 21px 33px;
    display: inline-block;
}
.header .title h1{
    font-size: 24px;
    font-weight: 400;
    float: left;
    color: #fff;
}



.dl_box{
    position:absolute;
    top:20%;
    left:5%;
    -webkit-border-radius: 4px;
    border-radius: 4px;

}
.dl_box .dl_form{
    position: relative;
    margin-left:15px;
}
.dl_form .dl_title{
    display: block;

}
.dl_title .dl_cy{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color: #ff4f3f;
    margin-bottom: 24px;
}
.fix{
    margin:0 0 20px;
    zoom:1;
}
.input-warp{
    position: relative;
    display: block;
}
.input-warp input{
    height: 58px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 24px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.pw{
    margin: 0 0 20px;
    zoom: 1;
}
.label input{
    width: 20px;
    height: 20px;
}
.foot_cnt{
    margin: auto;
    height: 30px;
    zoom: 1;
    font-size: 26px;
}
.foot_cnt span{
    font-size: 16px;
    color: #666;
}
.foot_cnt .qdl{
    width: 20px;
    height: 20px;
}
.foot_cnt .zddl {
    outline: none;
    color: #666;
    text-decoration: none;
    margin-top: 6px;
}
.foot_cnt .wjmm {
    outline: none;
    color: #666;
    text-decoration: none;
    margin-top: 6px;
    margin-left: 104px;
}
.btn-row{
    margin: 0 0 20px;
    text-align: center;
    outline: 0;
}
.btn-row .qdl{
    font-size: 30px;
    padding: 11px 0;
    background-color: #ff4f3f;
    border-radius: 4px;
    color: #fff;
    border:1px solid #ff4f3f;
    display: block;
    width: 300px;
    position: relative;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 60px;
}
.sub-txt{
    display: inline-block;
    font-style: normal;
}