*{
    margin: 0;
    padding: 0;
}

.head{
    width: 100%;
    height:200px;
    background-image: url("../img/bj (2).jpg");
    background-size: 100% 200px;
}

a,button,input{
    -webkit-tap-highlight-color:rgba(255,0,0,0);
}

.head .left{
    float: right;
}
.left .title{
    color: #666666;
    margin:50px;
    padding:10px;
    width:30px;
    font-weight: 400;
    font-size:22px;
    text-align:center;
    line-height:150%;
}

.main{
    margin-top: 10px;
}
.main .main_h img{
    height: 50px;
    width: 100%;
}
.wp-title_content{
    width:100px;
    height: 30px;
    margin: auto;
    text-align: center;

}
.wp-title_content .tb{
    font-size: 18px;
    color: #BEAA7E;
    display: inline-block;
    font-weight: 200;
}



.main .main_c{
    width: 100%;
    height: 300px;
}
.main_c .c_list{
    width: 95%;
    height: 260px;
    padding: 20px ;

}
.c_list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    height: 260px;
    margin: auto;
}
.c_list ul .first{
    margin-top: 10px;

}
.first a{
    text-decoration: none;
    color: #927947;
    font-size: 16px;
}
.first p{
    width: 100%;
    height: 40px;
    color: #BEAA7E;
    font-size: 14px;
}




.foot{
    width: 100%;
    height: 50px;
    background: #BEAA7E;
    position: fixed;
    bottom: 0;
}
.foot .footer{
    list-style-type: none;
    width: 100%;
    height: 50px;
}
.foot .footer li{
    width: 16%;
    height: 50px;
    float: left;
    padding-left: 15px;
}
.icon-web-icon-{
    color: #fff;
}
.footer a{
    text-decoration: none;
}
.foot .footer li h4{
    font-weight: 200;
    color: #fff;
}
.list_f{
    margin-top: 5px;
    text-align: center;

}
.foot_title{
    font-size: 12px;
}
