*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.head{
    width: 100%;
    height: 60px;
    background: #949191;
}
.header{
    height: 60px;
    position: relative;
}
.header .c_left{
    width: 50%;
    height:60px;
    margin: auto;
    position: absolute;
    left: 25%;
    display: inline-block;
}
.c_left .my{
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-top: 17px;
    font-weight: 400;
}
.c_right{
    width: 20%;
    height: 50px;
    float: right;
}
.c_right img{
    width: 20px;
    height: 20px;
    float: right;
    color: #fff;
    margin:20px 22px;
}


.cont{
    padding-top: 20px;
}

.tx{
    width: 100%;
    height: 150px;
    background: #c55c5c;
}

.tx .i_tx{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: auto;
    display: block;
}
.i_tx img{
    width: 45px;
    height: 45px;
}


.gq{
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
    width:100%;
    text-align: center;
}


/*主体*/
.main{
    width: 100%;

}
.c_list{
    width: 100%;
    display:inline-block;
}
.c_list ul{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;

}
.c_list ul li{
    list-style-type: none;
    width: 100%;
    height: 50px;
    color: #666;
    background: #fff;
    box-shadow: 1px 1px 3px #d9d9d9;
}
.c_list ul li>img{
    width: 22px ;
    height: 22px;
    margin: -6px 10px;
}
.c_list ul li:hover{
    background: #f8f8f8b8;
    color: #000;
    opacity: 0.8;

}
.c_list ul li h4{
    font-size: 16px;
    padding: 16px 10px;
    font-weight: 300;
    display: inline-block;
}
.icon{
    float: right;
    width:50px;
    height: 50px;
}
.icon img{
    width: 16px;
    height: 16px;
    margin: 15px 10px;
}


.btn-row{
    margin-top: 50px;
    text-align: center;
    outline: 0;
}
.btn-row .qdl{
    font-size: 16px;
    padding: 11px 0;
    background-color: #ff4f3f;
    border-radius: 4px;
    color: #fff;
    border:1px solid #ff4f3f;
    display: block;
    width: 100px;
    position: relative;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
    margin: auto;
}
.sub-txt {
    display: inline-block;
    font-style: normal;
}
