*{
    margin: 0;
    padding: 0;
}

.head{
    width: 100%;
    height: 50px;
    background: #2875B1;
}
.header{
    height: 50px;
    position: relative;
}
.header .c_left{
    width: 50%;
    height: 100px;
    margin: auto;
    position: absolute;
    left: 25%;
    display: inline-block;
}
.c_left .my{
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
}
.c_right{
    width: 20%;
    height: 50px;
    float: right;
}
.c_right img{
    width: 20px;
    height: 20px;
    float: right;
    margin:32px 22px;
}
/*主体*/
.main{
    width: 100%;

}
.c_list{
    width: 100%;
    display:inline-block;
}
.c_list ul{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;

}
.c_list ul li{
    list-style-type: none;
    width: 100%;
    height: 50px;
    color: #666;
    background: #fff;
    box-shadow: 1px 1px 3px #d9d9d9;
}
.c_list ul li>img{
    width: 22px ;
    height: 22px;
    margin: -6px 10px;
}
.c_list ul li:hover{
    background: #f8f8f8b8;
    color: #000;
    opacity: 0.8;

}
.c_list ul li h4{
    font-size: 16px;
    padding: 16px 10px;
    font-weight: 300;
    display: inline-block;
}
.icon{
    float: right;
    width:50px;
    height: 50px;
}
.icon img{
    width: 16px;
    height: 16px;
    margin: 15px 10px;
}