body{
    background-image: url("../img/hw 1.jpg");
    background-size: 100% 1500px;

}
*{
    margin: 0;
    padding: 0;
}
.head{
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #e3e3e3;
}
.header{
    height: 120px;
}

.header .button{
    width: auto;
    float: right;
    display: inline-block;
    text-align: right;
    color: #d9d9d9;
    font-size: 14px;
    line-height: 30px;
    padding: 40px 33px;
}
.header .button .reg{
    display: inline-block;
    text-decoration: none;
    width: 100px;
    height: 30px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    transition: all .2s;
}


.header .button :hover{
    background: #ff4f3f;
    color: #fff;
}



.header .title{
    float: left;
    padding: 21px 33px;
    display: inline-block;
}
.header .title h1{
    font-size: 24px;
    font-weight: 400;
    float: left;
    color: #4e4c4c;
}




.main{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 351px;

}
.main .main_content{
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    margin-top: 160px;
}
.main_content .title{
    margin-left: 12px;
    color: #ff4f3f;
    border-bottom: 1px solid #c1c1c1;
}

.main_content .title h2{
    font-size: 18px;
    font-weight: 200;
    line-height: 64px;
}
.media{
    overflow: hidden;
    zoom: 1;
    margin-left: 12px;
    margin-top: 20px;
}
.media .m_box{
    float: left;
    height: 403px;
}
.rel{
    position: relative;
}
.sec{
    display: block;
}
.sjh{
    margin: 0 0 20px;
    zoom: 1;
}
.s_rel{
    width: 90%;
    position: relative;
}
.s_rel input{
    display: block;
    width: 100%;
    height: 28px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.yzm{
    margin: 0 0 20px;
}
.yzm .dib{
    display: inline-block;
}
.yzm .dib input{
    display: block;
    width: 100%;
    height: 26px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.yzm .p_yzm{
    float: right;
    margin-right: 10px;
}
.yzm .p_yzm img{
    height: 30px;
}
.yzm .verify_btn{
    line-height: 32px;
    margin-left: 38px;
    border: 1px solid #ff4f3f;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px ;
    cursor: pointer;
}
 .yzm .send{
    font-weight: 400;
    font-style: normal;
     color: #ff4f3f;
     font-size: 16px;
}
.yzm .resend{
    display: none;
}
.btn-row{
    margin: 0 0 20px;
    text-align: center;
    outline: 0;
}
.btn-row .qdl{
    font-size: 20px;
    padding: 13px 0;
    background-color: #ff4f3f;
    border-radius: 4px;
    color: #fff;
    border:1px solid #ff4f3f;
    display: block;
    width: 332px;
    position: relative;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
    margin: auto;
    margin-top:50px;
}
.sub-txt{
    display: inline-block;
    font-style: normal;
}
.line{
    height: 1px;
    border-top: 1px solid #c4c4c4;
    text-align: center;
}
.line .dsf{
    position: relative;
    top: -9px;
    padding: 0 20px;
    background-color: #fff;
    font-size: 14px;
    color: #666;
}
 a{
    float: left;
    margin:20px 140px;
}
